@charset "UTF-8";


.memo_list{
	
	table-layout:fixed;
	border-collapse: collapse;
	border-spacing : 0;
	width:90%;
	margin:0 auto;
}
.memo_list th, td{
	border-top : 1px solid #aaa;
	padding : 5px 8px;
	height:2rem;
}
.memo_list td{
	margin-left : 30px;
	padding-left:10px;
	
}

.btn_box{
	 width:90%;
	margin:5px auto;
	text-align:right;
	
}
button{
	padding:10px 20px;
	outline:0;
	border:0;
	border-radius:5px;
}
button:hover{
	box-shadow: 1px 1px 1px black;
	cursor:pointer;
}